<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<%= render 'users/info', user:@user, book:@book %>

<% @users.each do |user| %>

    <%= link_to user_path(user) do %>
    <%= user.name %>
    <% end %><br>
    <%= user.introduction %>
    
<% end %>